* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #111;
  background-color: #fff;
  padding-top: 72px;
}

h1, h2, h3 {
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 4rem 0;
}
